@layer reset, utilities, layout, content;

@font-face {
    font-family: 'GoogleSansFlex';
    src: url('./assets/Fonts/Google_Sans_Flex/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Coda';
    src: url('./assets/Fonts/Coda/Coda-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('./assets/Fonts/Mozilla_Text/MozillaText-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

:root {
    --border-radius: 1rem;
    --border-width: 0.2rem;
    --gap: 1rem;

    /* Widths */
    --text-width: min(calc(90% - var(--gap)), 60ch);
    --content-width: min(calc(90% - var(--gap)), 65rem);

    --text-padding: calc((100% - var(--text-width)) / 2);
    --content-padding: calc((100% - var(--content-width)) / 2);

    /* Font stuff */
    --major-third: 1.25;
    --perfect-fourth: 1.33;
    --perfect-fifth: 1.50;
    --golden-ratio: 1.618;
    --ratio: var(--perfect-fourth);
    --backup-fonts: Arial, Helvetica, sans-serif;

    --font:
        'Mozilla Text',
        var(--backup-fonts);
    --display-font:
        'Mozilla Text',
        var(--backup-fonts);
    --logo-font:
        'Coda',
        var(--backup-fonts);
    --subtitle-font:
        'GoogleSansFlex',
        var(--backup-fonts);

    /* Colors */
    --light: oklch(96.06% 0.01632 79.28);
    --dark: oklch(15.054% 0.04411 291.713);
    --lightgray: oklch(79.208% 0.00009 271.152);
    --darkgray: oklch(43.495% 0.00005 271.152);
    --blue-light: oklch(55.829% 0.22205 262.67);
    --blue-dark: oklch(24.63% 0.14067 263.947);
    --purple-light: oklch(52.179% 0.26956 291.543);
    --purple-dark: oklch(34.752% 0.19503 287.949);
    --violet-light: var(--purple-dark);
    --violet-dark: oklch(18.342% 0.10213 292.719);

    /* Settings */
    font-family: var(--font);
    --step: 0;
    font-size: calc(1rem * pow(var(--ratio), var(--step)));
    scroll-behavior: smooth;
    color: var(--light);
    color-scheme: dark;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.not-sr-only {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

@layer content {

    #UX {
        gap: 2rem;
        position: relative;
    }

    #likert {
        isolation: isolate;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        align-items: end;
        translate: -7.5rem;

        .purple {
            color: var(--purple-light);
        }

        &::after{
            z-index: -1;
            content: "";
            position: absolute;
            right: 0px;
            top: 57%;
            translate: 45% 0;
            width:  25%;
            height: 1px;
            /* box-shadow: 0 0 .5rem .5rem color-mix(var(--light), transparent 75%); */
            
            border-radius: 100dvh;
            border: color-mix(var(--light), transparent 50%) 1.5px dashed;
        }
    }
    #AVGScore{
        position: absolute;
        left:68%;
        top: 55.55%;
    }

    #Time {
        position: relative;
    }

    #Time>hgroup {
        position: absolute;
        top: 15%;
    }

    #Time>div {
        position: absolute;

        --count: 5;
        --radius: 23rem;
        --arc: 210deg;
        --start: calc(((360deg - var(--arc)) / 2) - 90deg);
        --step: calc(var(--arc) / (var(--count) - 1));
        --angle: calc(var(--start) + var(--index) * var(--step));

        left: 50%;
        top: 50%;

        transform:
            translate(-50%, -50%) rotate(var(--angle)) translateX(var(--radius)) rotate(calc(-1 * var(--angle)));

        & .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            opacity: 0.25;
            transition:
                opacity 0.25s ease-in-out,
                scale 0.25s ease-in-out;
            padding: 5rem 2rem;
        }

        &>.content:hover {
            opacity: 1;
            scale: 1.25;
        }
    }

    #UXD2 {
        --index: 0;
    }

    #UXD4 {
        --index: 1;
    }

    #UXD6 {
        --index: 2;
    }

    #UXD7 {
        --index: 3;
    }

    #UXD_FW {
        --index: 4;
    }

    #Infra {
        display: grid;
        align-content: center;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        hgroup {
            text-align: center;
        }
    }

    #word-cloud {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 12px;
        max-width: 900px;
        margin: auto;

        &:has(p:hover) {
            p:hover {
                opacity: 1;
            }

            p:not(:hover) {
                opacity: 0.25;
            }
        }
    }

    #word-cloud p {
        margin: 0;
        cursor: default;
        transition: transform .2s ease, opacity .4s ease-in-out;
        user-select: none;

        &.weight-1 {
            font-size: calc(1rem * pow(var(--ratio), var(--step)));
            font-weight: 400;
            opacity: .4;
        }

        &.weight-2 {
            font-size: calc(2rem * pow(var(--ratio), var(--step)));
            font-weight: 500;
            opacity: .6;
        }

        &.weight-2-5 {
            font-size: calc(2.25rem * pow(var(--ratio), var(--step)));
            font-weight: 600;
            opacity: .8;
        }

        &.weight-3 {
            font-size: calc(3.5rem * pow(var(--ratio), var(--step)));
            font-weight: 700;
            opacity: 1;
        }
    }

    #word-cloud p:hover {
        transform: scale(1.1);
    }

    #Buildings {
        position: relative;
        gap: 5rem;

        >div>ul{
            translate: 350% 0;
            >li>button {
            margin-block: 0.25rem;
            padding: .5rem 2rem;
            border: 1px solid transparent;
            border-radius: 1rem;
            font-weight: 700;
            background:
                /* content gradient */
                linear-gradient(to bottom,
                    color-mix(in oklch, var(--violet-light) 75%, var(--violet-dark) 90%),
                    color-mix(in oklch, var(--violet-light) 50%, var(--violet-dark) 10%)) padding-box,

                /* border gradient */
                linear-gradient(to right,
                    color-mix(in oklch, color-mix(in oklch, var(--violet-light) 75%, var(--violet-dark)) 75%, var(--purple-light)),
                    oklch(65.33% 0.23148 304.428),
                    oklch(40.517% 0.22149 293.865)) border-box;
        }}

        [popover] {
            inset: 15% 5% 10% 50%;
            width: auto;
            height: auto;
            border: 1px solid transparent;
            background:
                /* content gradient */
                linear-gradient(to bottom,
                    color-mix(in oklch, var(--violet-light) 75%, var(--violet-dark) 90%),
                    color-mix(in oklch, var(--violet-light) 50%, var(--violet-dark) 10%)) padding-box,

                /* border gradient */
                linear-gradient(to right,
                    color-mix(in oklch, color-mix(in oklch, var(--violet-light) 75%, var(--violet-dark)) 75%, var(--purple-light)),
                    oklch(65.33% 0.23148 304.428),
                    oklch(40.517% 0.22149 293.865)) border-box;
            padding: 2rem;
            border-radius: var(--border-radius);

            box-shadow:
                8px 8px 18px oklch(8% 0.03 290 / 0.6);


            &:popover-open {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: var(--gap);
                gap: 5rem;
            }

            >[command="hide-popover"] {
                position: absolute;
                top: 1.2rem;
                right: 1.25rem;
                font-size: 2rem;
            }

            .popover-body {
                height: 100%;

                label {
                    font-size: 1.25rem;
                }

                >p {
                    border-top: 2px solid color-mix(var(--light), transparent 75%);
                    margin-top: 2rem;
                    padding-top: 1rem;
                }

                .KPI {
                    width: 100%
                }
            }
        }

        .building-content {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .bar {
            display: flex;
            width: 100%;
            height: 55px;

            label {
                display: flex;

                text-align: right;
                width: 100%;

                justify-content: space-between;
                align-items: center;

                gap: var(--gap);
                padding: 2rem;

                progress {
                    background: color-mix(var(--light), transparent 95%);
                    border-radius: 100dvw;
                    border: 2px solid color-mix(var(--light), transparent 95%);

                    &::-moz-progress-bar {
                        background: linear-gradient(to right, color-mix(var(--light), transparent 10%),color-mix(var(--light) 30%, var(--purple-light) 50%, transparent 50%));
                        border-radius: 1rem;
                    }
                }
            }
        }
    }

    .building-content {
        display: flex;
    }


    #Accessibility {
        align-items: start;
        padding-left: 15rem;
    }

    #Accessibility ol {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-left: 3ch;
        padding-top: 3ch;
        margin-top: 2rem;
    }

    #accessibility-percentage {
        margin-top: 10rem;
    }

    .hoverable {
        opacity: .25;
        transition: opacity .25s ease-in-out,
            scale .25s ease-in-out;

        & .pvt-l {
            transform-origin: left center;
        }
    }

    .hoverable:hover {
        opacity: 1;
        scale: 1.25;
    }


}


@layer layout {



    header,
    body,
    footer {
        gap: var(--gap);
        display: flex;
        justify-content: center;
    }

    header {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 1rem;

        nav {
            display: flex;
            position: relative;
            gap: calc(var(--gap) / 2);
            padding: calc(var(--gap) / 2) calc(var(--gap)*2);
            border-radius: max(100vh, 100vw);
            background:
                /* content gradient */
                linear-gradient(to bottom,
                    color-mix(in oklch, var(--violet-light) 75%, var(--violet-dark) 50%),
                    color-mix(in oklch, var(--violet-light) 50%, var(--violet-dark) 50%)) padding-box,

                /* border gradient */
                linear-gradient(to right,
                    color-mix(in oklch, color-mix(in oklch, var(--violet-light) 75%, var(--violet-dark)) 75%, var(--purple-light)),
                    oklch(65.33% 0.23148 304.428),
                    oklch(40.517% 0.22149 293.865)) border-box;

            background-clip: padding-box, border-box;
            box-shadow:
                8px 8px 18px oklch(8% 0.03 290 / 0.6),
                -6px -6px 16px oklch(28% 0.04 290 / 0.45);
            border:
                1px solid transparent;


            transition:
                box-shadow 180ms ease,
                transform 180ms ease,
                background 180ms ease;

            &:hover {
                box-shadow:
                    12px 12px 24px oklch(8% 0.03 290 / 0.7),
                    -8px -8px 20px oklch(32% 0.04 290 / 0.5);
            }

            a,
            button {
                color: var(--light);
                font-weight: 600;
                text-decoration: none;
                padding: 0.8rem 1.2rem;
                border: 2px solid transparent;
                border-radius: max(100vh, 100vw);
                transition:
                    box-shadow 180ms ease,
                    transform 360ms ease,
                    background 360ms ease;

                &:hover {
                    /* box-shadow:
                        inset 3px 3px 6px oklch(10% 0.03 290 / 0.7),
                        inset -2px -2px 5px oklch(30% 0.04 290 / 0.3); */
                    background: oklch(100% 0.00011 271.152 / 0.145);
                    border: 2px solid oklch(100% 0.00011 271.152 / 0.145);
                    transform: translateY(3px);
                }

                &:active,
                &.active {
                    box-shadow:
                        inset 5px 5px 10px oklch(10% 0.03 290 / 0.75),
                        inset -4px -4px 8px oklch(30% 0.04 290 / 0.25);
                    background:
                        color-mix(in oklch, var(--dark) 96%, white);
                }
            }
        }
    }

    #resultsNav {
        position-anchor: --menu;
        position: fixed;
        top: calc(anchor(bottom) + 0.75rem);
        margin-inline: auto;
        min-width: anchor-size();

        &:not(&:popover-open) {
            display: none;
        }
    }

    body {
        flex-direction: column;
        background: url("./assets/mesh-gradient-background.png") fixed;
        background-position: 50% 50%;
        background-size: cover;
    }

    section {
        min-height: 99dvh;
        overflow: hidden;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #SiteBG {
        position: fixed;
        z-index: -1;
        inset: 0;
        width: 100dvw;
        height: 100dvh;
    }

    #MetaOutline>.grid {
        width: 90%;
        display: grid;
        row-gap: 45vh;
        height: fit-content;
        /* transform: translateY(-5vh); */

        hgroup {
            align-self: end;
            justify-self: center;
            height: fit-content;
        }

        div:has(>h3) {
            display: grid;
            gap: 2rem;
            align-self: start;
            justify-self: center;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            align-items: start;
            justify-content: center;

            h3 {
                text-align: center;
            }

            & h3:first-child {
                text-align: left;
            }

            & h3:last-child {
                text-align: right;
            }
        }
    }
}

@layer utilities {
    .max-w-wrapper {
        display: block;
        width: var(--content-width);

        &[data-center] {
            margin-inline: auto;
        }

        &[data-center-children] {
            display: grid;
            justify-content: center;
            align-content: center;
        }

        &[data-small] {
            width: var(--text-width);
        }
    }

    .shift {
        transform: translateX(5vw);
    }


    .text-center {
        text-align: center;
    }

    .self-center {
        place-self: center;
    }

    .center {
        place-items: center;
        place-content: center;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h5,
    .p,
    .small,
    [class^="fs-"],
    [class*=" fs-"] {
        font-size: calc(1rem * pow(var(--ratio), var(--step)));
    }

    .h1,
    .fs-h1 {
        --step: 6;
    }

    .h2,
    .fs-h2 {
        --step: 5;
    }

    .h3,
    .fs-h3 {
        --step: 4;
    }

    .h4,
    .fs-h4 {
        --step: 3;
    }

    .h5,
    .fs-h5 {
        --step: 2;
    }

    .h6,
    .fs-h6 {
        --step: 1;
    }

    .p,
    .fs-p {
        --step: 0;
    }

    .small,
    .fs-small {
        --step: -1;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    .display-font,
    .font-display {
        font-family: var(--display-font);
    }

    .p,
    .small,
    .body-font,
    .font-body {
        font-family: var(--font);
    }

    .subtitle {
        font-family: var(--subtitle-font);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 40%;
        text-transform: uppercase;
        font-variation-settings: "wdth" 45;
    }

    .fw-200 {
        font-weight: 200;
    }

    .fw-300 {
        font-weight: 300;
    }

    .fw-400 {
        font-weight: 400;
    }

    .fw-500 {
        font-weight: 500;
    }

    .fw-700 {
        font-weight: 700;
    }

    .col-gray {
        color: var(--lightgray)
    }
}

@layer reset {

    /* see https://www.joshwcomeau.com/css/custom-css-reset/ */
    /* 1. Use a more-intuitive box-sizing model */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        font: inherit;
    }

    /* 2. Remove default margin */
    *:not(dialog) {
        margin: 0;
        padding: 0;
    }

    /* 3. Enable keyword animations */
    @media (prefers-reduced-motion: no-preference) {
        html {
            interpolate-size: allow-keywords;
        }
    }

    body {
        /* 4. Increase line-height */
        line-height: 1.5;
        /* 5. Improve text rendering */
        -webkit-font-smoothing: antialiased;
    }

    /* 6. Improve media defaults */
    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    /* 7. Inherit fonts for form controls */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    /* 8. Avoid text overflows */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    /* 9. Improve line wrapping */
    p {
        text-wrap: pretty;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    /*
    10. Create a root stacking context
    */
    #root,
    #__next {
        isolation: isolate;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    ul {
        list-style: none;
    }

    a {
        color: currentColor;
        text-decoration: none;
    }
}