footer {
    backdrop-filter: blur(6px);
    border-radius: var(--border-radius);
    margin-inline: auto;
    padding: var(--gap);
    padding-inline: var(--content-padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap);
}