header {
    /* TODO: red = placeholder */
    position: fixed;
    top: var(--gap);
    left: var(--gap);
    right: var(--gap);
    height: 5rem;
    background-color: oklch(from red l c h / 0.25);
    border: var(--border-width) red solid;
    backdrop-filter: blur(4px);
    border-radius: var(--border-radius);
    margin-inline: auto;
    padding: var(--gap);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}