header {
    position: fixed;
    left:50%;
    translate: -50% 0;
    top: var(--gap);
    height: 5rem;
    background-color: oklch(from var(--primary) 97% 0.05 h / 0.35);
    border: var(--border-width) oklch(from var(--primary) 97% 0.05 h / 0.75) solid;
    backdrop-filter: blur(4px);
    border-radius: var(--border-radius);
    margin-inline: auto;
    padding: var(--gap);
    width: var(--content-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}