section {
    &[data-padding] {
        padding-block: 2rem;
    }

    margin-inline: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}