.to-top {
    position: fixed;
    translate: -100% -100%;
    bottom: var(--gap);
    right: var(--gap);
    height: 3rem;
    width: auto;
    aspect-ratio: 1;
    border-radius: max(100dvh, 100dvw);
    border: var(--border-width) solid var(--primary);
    padding: calc(var(--gap) / 2);
    color: var(--primary);
    backdrop-filter: blur(6px);
    background-color: rgb(from white r g b / 0.75);
    fill: currentColor;
}