.to-top {
    position: fixed;
    translate: -100% -100%;
    bottom: var(--gap);
    right: var(--gap);
    height: 3rem;
    width: auto;
    aspect-ratio: 1;
    border-radius: max(100dvh, 100dvw);
    border: var(--border-width) currentColor solid;
    padding: calc(var(--gap) / 2);
    color: oklch(from var(--primary) 97% 0.05 h / 0.75);
    backdrop-filter: blur(6px);
    fill: currentColor;
}